<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanVibe</title>
    <!-- Enlace al favicon -->
    <link rel="icon" href="img/UrbanVibeICON.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/UrbanVibeICON.ico" type="image/x-icon">
    <!-- Otros estilos CSS comunes, scripts, metadatos, etc. -->
    <!-- Por ejemplo: -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <!-- <script src="js/jquery.min.js"></script> -->
</head>
</html>
