<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            UrbanVibe : Gestión de Usuarios
        </title>
        <th:block th:replace="~{fragments/main.html :: head}"></th:block>

    </head>

    <body>

        <!-- Incluye tu barra de navegación y otros fragmentos aquí -->
        <div th:replace="~{fragments/main.html :: navigation}"></div>

        <div class="container">
            <br><br>
            <h3>Editar usuario:</h3>

            <form th:action="'/users/edit/' + ${user.id}" th:object="${user}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <label class="form-label">Nombre de usuario:
                            </label>
                            <input
                                type="text"
                                th:field="*{username}"
                                class="form-control"
                                required="required"/>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Contraseña:
                            </label>
                            <input
                                type="password"
                                th:field="*{password}"
                                class="form-control"
                                />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Nombre:
                            </label>
                            <input type="text" th:field="*{name}" class="form-control" required="required"/>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Apellidos:
                            </label>
                            <input
                                type="text"
                                th:field="*{surname}"
                                class="form-control"
                                required="required"/>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">DNI:
                            </label>
                            <input type="text" th:field="*{dni}" class="form-control" required="required"/>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Habilitar(si lo marcas el Usuario podrá usarse):
                            </label>
                            <div class="form-check">
                                <input
                                    type="checkbox"
                                    th:field="*{enable}"
                                    class="form-check-input"
                                    required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Email:
                            </label>
                            <input type="email" th:field="*{mail}" class="form-control" required="required"/>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Dirección:
                            </label>
                            <div class="form-label">
                                <input
                                    type="text"
                                    th:field="*{address}"
                                    class="form-control"
                                    required="required"/>
                            </div>
                        </div>
                        <div class="row g-3 m-2">
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <label class="form-label">Rol:</label>
                                    <select th:field="*{rolList}" class="form-select">
                                        <option
                                            th:each="rol : ${userRolList}"
                                            th:value="${rol.id}"
                                            th:text="${rol.rol}"></option>
                                    </select>

                                </div>

                            </div>

                        

                    </div>
                </div>

                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                            <a href="/users" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>

            <!-- <div th:replace="~{fragmentos/general.html :: footer}"></div> -->

        </div>

    </body>

</html>