<html>
    <head>
        <meta charset="UTF-8">
        <title>UrbanVibe</title>
        <link rel="icon" href="img/UrbanVibeICON.ico" type="image/x-icon">
        <link rel="shortcut icon" href="img/UrbanVibeICON.ico" type="image/x-icon">
        <th:block th:replace="~{clothes/clothes.html :: styles}"></th:block>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <th:block th:replace="~{clothes/clothes.html :: menu-header}"></th:block>
    </head>
    <body>
        
    </body>
</html>